@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");

:root {
  --mainTextColor: #090909;
  --secondaryTextColor: #333333;
  --mainLinkColor: #0da2b8;
  --mainBorderColor: #dadada;
  --mainBgColor: #f9fafb;
}

[data-theme=dark] {
  --mainTextColor: #f8f8f8;
  --secondaryTextColor: #adb0b1;
  --mainLinkColor: #1ebed6;
  --mainBorderColor: #2b3031;
  --mainBgColor: #131415;
}

* {
  font-family: "Readex Pro";
  line-height: 1.5em;
  box-sizing: border-box;
  color: var(--mainTextColor);
}

body {
  background-color: var(--mainBgColor);
}

p,
span,
li {
  color: var(--secondaryTextColor);
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--mainLinkColor);
  font-weight: 500;
}

h1,
h2,
h3 {
  margin: 12px 0;
}

h3,
h4,
h5,
h6,
p {
  margin: 8px 0;
}

li {
  line-height: 1.9em;
}

a {
  font-weight: 300;
}

#container--main {
  max-width: 850px;
  margin: 0 auto;
  padding: 1em;
}

.section--page {
  padding-top: 1em;
  padding-bottom: 1em;
}

#wrapper--hero {
  display: flex;
  align-items: center;
  gap: 4em;
}

#user-name {
  font-size: 44px;
  line-height: 1em;
}

#bio {
  font-size: 26px;
  font-weight: 500;
  margin: 12px 0;
}

#profile-pic {
  width: 180px;
  height: 180px;
  object-fit: contain;
  background-color: #faefe9;
  border-radius: 50%;
}

#email {
  color: var(--mainTextColor);
  margin-top: 16px;
}

#socials--list {
  display: flex;
  justify-content: space-evenly;
  column-gap: 1em;
  flex-wrap: wrap;
}

#socials--list a {
  font-weight: 300;
  color: var(--secondaryTextColor);
  font-size: 0.9em;
  transition: 0.3s;
  border: 1px solid var(--mainLinkColor);
  padding: 8px 12px;
  border-radius: 4px;
  margin-bottom: 8px;
}

#socials--list a:hover {
  font-weight: 100;
  background-color: var(--mainLinkColor);
  color: #faefe9;
  font-size: 0.9em;
}

.summary--heading {
  text-align: justify;
}

#qualifications--list {
  list-style: none;
}

#wrapper--techstack__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 0.9em;
}

.card--techstack {
  border: 1px solid var(--mainBorderColor);
  border-radius: 5px;
  padding: 0.3em 1em;
  align-items: center;
}

.card--techstack span {
  font-size: 16px;
  font-weight: bold;
}

.card--education {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--mainBorderColor);
}

.card--education h3 {
  color: var(--mainTextColor);
  margin: 10px 0;
}

.card--education h4 {
  color: var(--secondaryTextColor);
  margin: 8px 0;
}

.card--work-history {
  border-left: 1px solid var(--mainBorderColor);
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 2em;
}

.line-break {
  background-color: var(--mainBorderColor);
  height: 1px;
}

/* slider styles */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 600px) {
  .section--page {
    padding-top: .5em;
    padding-bottom: .5em;
  }

  #wrapper--hero {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  #profile-pic {
    width: 200px;
    height: 200px;
  }

  #wrapper--hero {
    flex-direction: column;
  }

  .card--work-history {
    border-left: none;
    padding-left: 0;
  }
}
